---
// @ts-nocheck
import { Icon } from "astro-icon/components";
import {t} from "i18next"
import {sendEmail} from "../../action.js"
 
---

<form action={sendEmail}
      method="POST"
      class="mt-12">

    <div class="relative flex items-center rounded-full border border-primary/20 bg-white p-1 px-2 shadow-md focus-within:ring-2 dark:border-white/10 dark:bg-dark dark:text-white md:p-2 lg:pr-3">
      <!-- Icono de Email -->
      <div class="py-3 pl-4 lg:pl-5">
        <Icon name="envelop" class="text-rich-black" />
      </div>
  
      <!-- Input de Email -->
      <input 
        required 
        name="email"
        aria-label="your email" 
        autocomplete="email" 
        placeholder={t("nav.mail")} 
        class="w-full font-body rounded-full bg-transparent p-4 text-black placeholder-gray-600 outline-none dark:placeholder-white" 
        type="email"
      />
      
      <!-- Botón de Enviar -->
      <button 
        type="submit" 
        title="Obtener Informacion" 
        class="relative ml-auto h-12 w-14 rounded-full before:absolute before:inset-0 before:rounded-full before:bg-oxford-blue before:transition before:duration-300 active:duration-75 active:before:scale-95 dark:before:bg-primaryLight sm:w-auto sm:px-6 hover:scale-105"
      >
        <!-- Contenedor del botón -->
        <div class="relative flex items-center justify-center gap-2">
          <!-- Texto visible solo en pantallas md+ -->
          <span class="hidden font-hero text-white dark:text-gray-900 md:flex">
            {t("nav.btn")}
          </span>
  
          <!-- Icono visible solo en pantallas pequeñas -->
          <Icon class="flex md:hidden" name="arrow" />
        </div>
      </button>
    </div>
  </form>
  