---
import { Icon } from "astro-icon/components";
---

<div class="fixed bottom-5 right-5 z-50">
    <a href="https://api.whatsapp.com/send/?phone=573242016401&text=Hola%2C%20estoy%20interesado%20en%20sus%20servicios" target="_blank">
        <Icon name="whatsapp" width={50} height={50} class="text-green-600 animate-bounce" />
    </a>
</div>