@import url('https://fonts.googleapis.com/css2?family=Days+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Estilo para el scrollbar global */
    html {
      scroll-behavior: smooth;
      scrollbar-width: thin; /* Firefox */
      scrollbar-color: #0466C8 #F3F4F6; /* Colores en Firefox */
    }
  
    html::-webkit-scrollbar {
      width: 8px; /* Ancho de la barra */
      height: 8px; /* Alto para barras horizontales */
    }
  
    html::-webkit-scrollbar-track {
      background: #F3F4F6; /* Fondo del track */
    }
  
    html::-webkit-scrollbar-thumb {
      background-color: #0466C8; /* Color del thumb */
      border-radius: 4px; /* Bordes redondeados */
      border: 2px solid #F3F4F6; /* Margen interno para que el thumb no ocupe todo */
    }
  
    html::-webkit-scrollbar-thumb:hover {
      background-color: #0466C8; /* Cambia el color al pasar el cursor */
    }
  }