---
import { changeLanguage } from "i18next";
import Layout from "../../layouts/Layout.astro";

changeLanguage("en");
---

<Layout>
	<main class="flex-grow p-4 bg-gray-100">
		<p class="text-center ">Este es el contenido principal. Si el contenido es corto, el footer se mantendrá abajo.</p>
	  </main>
</Layout>
