---
import { Icon } from "astro-icon/components";
import FormButton from "../buttons/FormButton.astro";
import { t } from "i18next";
import FormButtonEnglish from "../buttons/FormButtonEnglish.astro";

---

<div class="relative flex h-[90vh]">
  <!-- Sección de contenido -->
  <div class="bg-true-blue w-full flex flex-col justify-center px-8 space-y-6 text-white lg:w-1/2">
    <h1 class="text-4xl font-hero lg:text-5xl uppercase">
      {t("nav.msg")}
    </h1>
    <p class="text-lg lg:text-xl capitalize">
      {t("nav.sub")}
    </p>
    <FormButtonEnglish />
  </div>

  <!-- Sección de slider -->
  <div class="hidden relative w-1/2 md:flex swiper mySwiper overflow-hidden">
    <div class="swiper-wrapper flex">
      <!-- Slide 1 -->
      <div class="swiper-slide w-full h-full bg-cover bg-center bg-[url('https://images.unsplash.com/photo-1709824686105-38e21c8c9e93?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')]">
        <div class="bg-rich-black w-fit flex p-2 rounded-br-lg">
          <Icon name="location" class="text-red-600 items-center" />
          <p class="font-body capitalize text-white text-xs">Hamburg, Deutschland</p>
        </div>
      </div>
  
      <!-- Slide 2 -->
      <div class="swiper-slide w-full h-full bg-cover bg-center bg-[url('https://images.unsplash.com/photo-1494412574643-ff11b0a5c1c3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')]">
        <div class="bg-rich-black w-fit flex p-2 rounded-br-lg">
          <Icon name="location" class="text-red-600 items-center" />
          <p class="font-body capitalize text-white text-xs">Bukit Merah, Singapore</p>
        </div>
      </div>
  
      <!-- Slide 3 -->
      <div class="swiper-slide w-full h-full bg-cover bg-center bg-[url('https://images.unsplash.com/photo-1606964212858-c215029db704?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')]">
        <div class="bg-rich-black w-fit flex p-2 rounded-br-lg">
          <Icon name="location" class="text-red-600 items-center" />
          <p class="font-body capitalize text-white text-xs">Los Angeles CA, USA</p>
        </div>
      </div>

      <!-- Slide 4 -->
      <div class="swiper-slide w-full h-full bg-cover bg-center bg-[url('https://images.unsplash.com/photo-1601311852860-1d8f42381551?q=80&w=1975&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D')]">
        <div class="bg-rich-black w-fit flex p-2 rounded-br-lg">
          <Icon name="location" class="text-red-600 items-center" />
          <p class="font-body capitalize text-white text-xs">Valparaíso, Chile</p>
        </div>
      </div>
    </div>
  </div>



</div>
<script is:inline defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>

  // @ts-nocheck
  const swiper = new Swiper('.mySwiper', {
    loop: true,
    direction: "horizontal",
    autoplay: {
      delay: 6000,
  }
    
    
  
  }); 
</script>
