---
import ModalForm from "../../components/modal/ModalForm.astro";
import { t } from "i18next";

 const services = [
  {
    title: t("nav.inter"),
    subtitle: t("services.sub-one"),
    image: "/ship_port.svg",
    content: t("services.one")
  },
  {
    title: t("nav.docs"),
    subtitle: t("services.sub-two"),
    image: "https://images.unsplash.com/photo-1450101499163-c8848c66ca85?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    content: t("services.two")
  },
  {
    title: t("nav.distr"),
    subtitle: t("services.sub-three"),
    image: "https://images.unsplash.com/photo-1493946740644-2d8a1f1a6aff?q=80&w=2090&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    content: t("services.three")
  },
  {
    title: t("nav.cons"),
    subtitle: t("services.sub-four"),
    image: "https://images.unsplash.com/photo-1554902843-260acd0993f8?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    content: t("services.four")
  },
  {
    title: t("nav.sure"),
    subtitle: t("services.sub-five"),
    image: "https://images.unsplash.com/photo-1605732562742-3023a888e56e?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    content: t("services.five")
  },
  {
    title: t("nav.per"),
    subtitle: t("services.sub-six"),
    image: "https://images.unsplash.com/photo-1721937127582-ed331de95a04?q=80&w=1937&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
    content: t("services.six")
  },
];
---
    <!-- Modal Card -->
    <div x-data="{modalIsOpen: false}">
        <ul class="grid gap-12 max-w-6xl mx-auto px-4 sm:grid-cols-2 lg:grid-cols-3 py-12"
      >
        {services.map((service) => (
          <li class="group relative block bg-rich-black rounded-xl overflow-hidden">
            <img
              alt="Fotos de servicios de transporte nautico"
              src={service.image}
              class="absolute inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
  
            <div class="relative p-6 lg:p-8">
              <p class="text-xs font-medium uppercase tracking-widest text-white">
                {service.subtitle}
              </p>
  
              <p class="text-xl font-hero text-white sm:text-2xl">
                {service.title}
              </p>
  
              
            </div>
            <div class="mt-24 p-4 lg:p-8" >
                <div class="translate-y-8 transform opacity-0 transition-all group-hover:translate-y-0 group-hover:opacity-100 space-y-2">
                  <p class="text-sm font-body text-white">{service.content}</p>
                  <button x-on:click="modalIsOpen = true" type="button" class="cursor-pointer whitespace-nowrap rounded-md bg-true-blue px-4 py-2 text-center text-sm font-medium tracking-wide text-neutral-100 transition hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black active:opacity-100 active:outline-offset-0 dark:bg-white dark:text-black dark:focus-visible:outline-white">{t("nav.btn")}</button>
                </div>
              </div>
          </li>
        ))}
      </ul>
          
              <ModalForm  />
            
    </div>