---
import type { CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import { t } from "i18next";


type Props = CollectionEntry<'blog'>['data'];


const { title, heroImage } = Astro.props;
---

<Layout title={title}>
  <section class="dark:bg-slate-800 bg-gray-50 lg:pt-24">
    <div class="mx-auto max-w-screen-xl px-4 py-32 lg:py-16">
      <!-- Imagen destacada -->
      {heroImage && (
        <div class="mb-8">
          <img
            src={heroImage}
            alt={title}
            class="rounded-lg w-full object-cover h-64 md:h-96"
          />
        </div>
      )}

      <!-- Título y detalles del post -->
      <div class="text-center mb-12">
        <h1 class="text-2xl lg:text-4xl font-body mb-4 text-gray-900 dark:text-white">{t(title)}</h1>
        
      </div>

      <!-- Contenido del post -->
      <article class="prose prose-lg dark:prose-invert max-w-none mx-auto">
        <slot />
      </article>
    </div>
  </section>
</Layout>

			
