---
import Navbar from "../components/ui/Navbar.astro";
import Footer from "../components/ui/Footer.astro";
import LanguagePicker from "../components/LanguagePicker.astro";
import "../../src/styles/globals.css"
import Whatsapp from "../components/buttons/Whatsapp.astro";
import BaseHead from "../components/meta/BaseHead.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead />
	</head>
	<body class="min-h-screen flex flex-col">
		<Navbar />
		<LanguagePicker />
		<slot />
		<Whatsapp />
		<Footer />
	</body>
</html>

