---
import Navbar from "../components/ui/Navbar.astro";
import Footer from "../components/ui/Footer.astro";
import LanguagePicker from "../components/LanguagePicker.astro";
import "../../src/styles/globals.css"
import Whatsapp from "../components/buttons/Whatsapp.astro";
import BaseHead from "../components/meta/BaseHead.astro";
import i18next from "i18next";
const { title } = Astro.props;
---

<!doctype html>
<html lang={i18next.language}>
	<head>
		<BaseHead title={title} />
		
	</head>
	<body>
		<Navbar  />
		<LanguagePicker />
		<slot />
		<Whatsapp />
		<Footer />
	</body>
</html>

