---
// @ts-nocheck
import MobileMenuToggle from "./MobileMenuToggle.astro";
import { Icon } from "astro-icon/components"
import { localizePath } from "astro-i18next";
import { t } from "i18next";

const menuItems = [
    { text: t("nav.home"), link: localizePath("/") },
    { text: t("nav.about"), link: localizePath("/nosotros") },
    { text: t("nav.services"), link: localizePath("#services") },
    { text: "Blog", link: localizePath("/blog") },
    { text: t("nav.contact"), link: localizePath("/contacto") }
];

---

<!-- Desktop menu -->
<nav x-data="{ isOpen: false }" class="bg-white shadow dark:bg-gray-800">
    <div class="container px-6 py-4 mx-auto">
        <div class="lg:flex lg:items-center lg:justify-between">
            <!-- Logo -->
            <div class="flex items-center justify-between">
                <a href={localizePath("/") }>
                    <img class="w-auto h-10 sm:h-12" src="/logo_wesell_dos.svg" alt="Logo de WESELL">
                </a>

                <!-- Mobile Menu Toggle -->
                <MobileMenuToggle />
            </div>

            <!-- Menu Links -->
            <div 
                x-cloak 
                :class="[isOpen ? 'translate-x-0 opacity-100' : 'opacity-0 -translate-x-full']" 
                class="absolute inset-x-0 z-20 flex-1 w-full h-full px-6 py-4 transition-all duration-300 ease-in-out bg-white dark:bg-gray-800 lg:static lg:w-auto lg:flex lg:items-center lg:justify-center lg:bg-transparent lg:translate-x-0 lg:opacity-100">
                
                <!-- Menu Items -->
                <div class="flex flex-col text-rich-black capitalize lg:flex lg:flex-row items-center lg:space-x-8">
                   {menuItems.map((item) => (
                       <a 
                           href={item.link} 
                           class="mt-[10%] font-body lg:text-sm transition-colors duration-300 transform lg:mt-0 hover:text-true-blue ">
                           {item.text}
                       </a>
                   ))}
                </div>
                 <!-- Social Media Logos MOBILE -->
                <div class="lg:hidden flex justify-center text-center items-center space-x-4 pt-10 ">
                    <a href="#" class="text-true-blue transition-colors duration-300 transform hover:text-gray-500" aria-label="LinkedIn Logo">
                      <Icon name="linkedin" size={20} />
                    </a>
                    <a href="#" class="text-true-blue transition-colors duration-300 transform hover:text-gray-500" aria-label="Facebook Logo">
                      <Icon name="facebook" size={20} />
                    </a>
                    <a href="#" class="text-true-blue transition-colors duration-300 transform hover:text-gray-500 " aria-label="Instagram Logo">
                      <Icon name="instagram" size={20} />
                    </a>
                  </div>
                  
            </div>

            <!-- Social Media Logos DESKTOP -->
            <div class="hidden lg:flex lg:items-center lg:space-x-4">
                <a href="#" class="text-true-blue transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="LinkedIn Logo">
                    <Icon name="linkedin" size={20} />
                </a>
                <a href="#" class="text-true-blue  transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Facebook Logo">
                    <Icon name="facebook" size={20} />
                </a>
                <a target="_blank" href="https://www.instagram.com/wesell_trading_group" class="text-true-blue  transition-colors duration-300 transform dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-300" aria-label="Instagram Logo">
                    <Icon name="instagram" size={20} />
                </a>
            </div>
        </div>
    </div>
</nav>
